body{
    background-color: black;
}

div {
    background-color: black;
    width: 50%;
    height: 100%;
    margin-left: 25%;
    text-align: center;
    margin-top: 100px;
    border: 1px white solid hidden;
    padding: 5px;
}

img {
    width: 900px;
    margin-top: 10px;
    border: 5px solid white;
}

h1 {
    color: yellow;
    font-family: 'Libre Baskerville', serif;
}

p {
    color: white;
    padding-bottom: 20px;
    font-size: 14pt;
}